<html lang="en">
{% include "base/header.html" %}
{% block title %}
    <title>home</title>
{% endblock %}
<body class=" bg-gradient-to-r from-gray-800 via-gary-200 to-gary-800">
{% include 'base/navbar.html' %}
{% include 'base/messages.html' %}
{% block change_pass %} {% endblock %}
{% block resat_password_email %} {% endblock %}
{% block resat_password_email_done %} {% endblock %}
{% block resat_password_email_complete %} {% endblock %}
{% block confirm_password %} {% endblock %}
{% block info_account %} {% endblock %}
{% block Error400 %} {% endblock %}
{% block login %} {% endblock %}
{% block delete_account %} {% endblock %}
{% block delete_user %} {% endblock %}
{% block creat_profile %} {% endblock %}
{% block register %} {% endblock %}
{% block update_post %} {% endblock %}
{% block post %} {% endblock %}
{% block post_detail %} {% endblock %}
{% block create_posts %} {% endblock %}
{% block explorer %} {% endblock %}
{% block contact_us %} {% endblock %}
{% block about_us %} {% endblock %}
{% block search %} {% endblock %}
{% block home %} {% endblock %}

<footer>{% include "base/footer.html" %}</footer>
</body>

</html>
