{% extends "base/bases.html" %}
{% block title %}
    <title>Explorer</title>
{% endblock %}
{% block explorer %}

    {% if request.user.is_authenticated %}

        <div class=" lg:block">
            <form method="get" class=" flex rounded-full ml-8 ">

                <a href="{% url "explorer" %}"
                   class=" me-1 ms-1 ps-1 pt-2  pe-1 bg-gray-400 text-gray-800 rounded-full text-sm hover:bg-indigo-400 focus:bg-indigo-600 focus:outline-none">
                    <button
                    >
                        Search
                    </button>
                </a>
                <input
                        type="text"
                        name="search"
                        placeholder=" enter your search here"
                        class="text-sm p-2 rounded-full flex-1 mr-8 text-gray-100 focus:outline-none bg-gradient-to-r from-gray-700  to-gary-500 bg-clip-padding backdrop-filter backdrop-blur-sm bg-opacity-70 "
                />

            </form>
        </div>
        <div class="max-w-7xl mx-auto grid grid-cols-3 gap-4 ">
        {% for post in post_search %}
            <div class="grid bg-gray-300 shadow-lg rounded-lg  mb-8 mt-4 ">
                <div class="px-6 py-4 border-b border-gray-200">
                    <div class="flex items-center justify-between">
                        <div class="flex items-center">

                        </div>
                    </div>
                    <div class="px-6 py-4 ">
                        <div class="flex justify-center">
                            <div class="carousel relative" id="carousel_{{ post.id }}">
                                <div class="carousel-inner">
                                    {% for image in post.images.all %}
                                        <div class="carousel-item">
                                            <a href="{% url "post_detail" post.id %}">
                                                <img src="{{ image.images.url }}"
                                                     alt="Post Image {{ post.owner.username }} {{ forloop.counter }}">
                                            </a>
                                        </div>
                                    {% endfor %}
                                </div>
                                <button class="carousel-prev absolute top-1/2 left-4 transform -translate-y-1/2 text-red-800 rounded-full px-3 py-1 focus:outline-none">
                                    &#10094;
                                </button>
                                <button class="carousel-next absolute top-1/2 right-4 transform -translate-y-1/2 text-red-800 rounded-full px-3 py-1 focus:outline-none">
                                    &#10095;
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        {% endfor %}
    {% endif %}
</div>
    <script>

        // Carousel functionality
        const carousels = document.querySelectorAll('.carousel');
        carousels.forEach((carousel) => {
            const prevButton = carousel.querySelector('.carousel-prev');
            const nextButton = carousel.querySelector('.carousel-next');
            const slides = carousel.querySelectorAll('.carousel-item');
            let currentSlide = 0;

            const showSlide = (index) => {
                slides.forEach((slide, i) => {
                    if (i === index) {
                        slide.style.display = 'block';
                    } else {
                        slide.style.display = 'none';
                    }
                });
                currentSlide = index;
            };

            const showNextSlide = () => {
                currentSlide = (currentSlide + 1) % slides.length;
                showSlide(currentSlide);
            };

            const showPrevSlide = () => {
                currentSlide = (currentSlide - 1 + slides.length) % slides.length;
                showSlide(currentSlide);
            };

            // Show initial slide
            showSlide(currentSlide);

            // Add event listeners to navigation buttons
            prevButton.addEventListener('click', showPrevSlide);
            nextButton.addEventListener('click', showNextSlide);
        });
    </script>
{% endblock %}
