{% extends "base/bases.html" %}
{% block title %}
    <title>Post {{ post.owner.user.username }}</title>
{% endblock %}
{% block post_detail %}
    {% if request.user.is_authenticated %}
        <div class="max-w-3xl  mx-auto">
            <!-- Single Post -->
            <div class=" bg-gradient-to-r  from-gray-300 via-gray-100  shadow-lg rounded-lg overflow-hidden mb-8 mt-4">
                <!-- Header -->
                <div class="px-6 py-4  border-b border-gray-200">
                    <div class="flex items-center justify-between">
                        <div class="flex items-center"><img class="w-12 h-12 object-cover rounded-full mr-4"
                                                            src="{{ post.owner.user.profile.profile_picture.url }}"
                                                            alt="Profile Picture">
                            <div>
                                <h2 class="text-lg font-semibold text-gray-800">
                                    <a href="{% url 'profile_detail' pk=post.owner.user.profile.user_id %}">
                                        {{ post.owner.user.username }} </a>
                                </h2>
                                <p class="text-sm text-gray-600">{{ post.owner.user.profile.bio | safe }}</p>
                            </div>
                        </div>
                        <div>
                            <div id="follow-container">
                                {% if request.user.profile.pk != post.owner.user.profile.pk and is_following %}
                                    <form class="follow-btn" id="unfollow-form"
                                          action="{% url 'follow_user' user_id=post.owner.user.pk post_id=post.id %}"
                                          method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="user_id" value="{{ post.owner.user.profile.pk }}">
                                        <input type="hidden" name="post_id" value="{{ post.id }}">
                                        <button data-user-id="{{ post.owner.user.profile.pk }}"
                                                data-post-id="{{ post.id }}"
                                                type="submit" class=" text-red-600 font-semibold">
                                            Unfollow
                                        </button>
                                    </form>
                                {% elif request.user.profile.pk != post.owner.user.profile.pk and is_following == False %}
                                    <form class="follow-btn" id="follow-form"
                                          action="{% url 'follow_user' user_id=post.owner.user.pk post_id=post.id %}"
                                          method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="user_id" value="{{ post.owner.user.profile.pk }}">
                                        <input type="hidden" name="post_id" value="{{ post.id }}">
                                        <button data-user-id="{{ post.owner.user.profile.pk }}"
                                                data-post-id="{{ post.id }}"
                                                type="submit" class="  text-blue-600 font-semibold follow-count">
                                            Follow
                                        </button>
                                    </form>
                                {% endif %}

                            </div>
                        </div>
                    </div>
                    <div class="px-6 py-4 ">
                        <div class="flex justify-center">

                            <div class="carousel relative">
                                <div class="carousel-inner">
                                    {% for image in post.images.all %}
                                        <div class="carousel-item">
                                            <img src="{{ image.images.url }}"
                                                 alt="Post Image {{ post.owner.user.username }} {{ forloop.counter }}">
                                        </div>
                                    {% endfor %}
                                </div>
                                <button class="carousel-prev absolute top-1/2 left-4 transform -translate-y-1/2 text-red-800 rounded-full px-3 py-1 focus:outline-none">
                                    &#10094;
                                </button>
                                <button class="carousel-next absolute top-1/2 right-4 transform -translate-y-1/2 text-red-800 rounded-full px-3 py-1 focus:outline-none">
                                    &#10095;
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="post-details px-6 py-4 border-b border-gray-200" data-post-id="{{ post.id }}">
                    <p class="text-gray-800 mt-4 mb-4 leading-relaxed"><b>{{ post.title | safe }}</b></p>
                    <p class="text-gray-800 mt-4 mb-4 leading-relaxed">{{ post.body | safe }}</p>
                    <div class="flex justify-between items-center">
                        <div class="flex " id="like-posts-container">
                            <a href="{% url 'like_user' post.id %}" class="like-btn">
                                <button class="text-blue-600 font-semibold mr-4 flex items-center"
                                        id="fetch-posts-button">
                                    <svg class="w-6 h-6 mr-1" fill="none" stroke="currentColor"
                                         viewBox="0 0 24 24"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                              d="M5 13l4 4L19 7"></path>
                                    </svg>
                                    <span>Like</span>
                                    <span class="text-sm pl-2 like-count">{{ post.likes_count }}</span>
                                </button>
                            </a>
                            <a href="{% url 'like_user' post.id %}">
                                <button class="post-details text-gray-600 font-semibold ml-8 mr-4 flex items-center toggle-comments-btn"
                                        data-comments-container-id="{{ post.id }}">
                                    <svg class="w-6 h-6 mr-1" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                         xmlns="http://www.w3.org/2000/svg" id="comment-toggle-icon">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                              d="M21 10a1 1 0 00-1-1h-6.5a3.5 3.5 0 01-3.5-3.5V4a1 1 0 00-1-1H4a1 1 0 00-1 1v16a1 1 0 001 1h11.7l3.3 3.3a1 1 0 001.4 0l3.6-3.6a1 1 0 000-1.4l-3.3-3.3zm-5 4l-2 2m2-2l2-2m-2 2H7"></path>
                                    </svg>
                                    <span>Comment</span>
                                    <span class="text-sm pl-2">{{ post.comments_count }}</span>
                                </button>
                            </a>
                        </div>
                    </div>
                    <div class="comments-container mt-2">
                        {% for comment in post.post_comments.all|dictsort:"create_time" %}
                            {% if comment.is_reply == False %}
                                <div class="comment-item border-t border-gray-800">
                                <div class="comment-body px-6 py-4">
                                    <p class="text-black-800">
                                        <a href="{% url 'profile_detail' pk=comment.owner.user.profile.user_id %}">
                                            <span class="comment-time"> &commat;{{ comment.owner }}</span>
                                        </a></p>
                                    <p class="text-gray-800">
                                        <span class="comment-time">{{ comment.comments | safe }}</span>
                                    </p>
                                </div>
                                <div class="comment-body px-6 py-4">
                                    <p class="text-gray-600">
                                        <span class="comment-time">{{ comment.create_time | timesince }}</span>
                                    </p>
                                </div>
                                <div class="comment-body px-6 py-4">
                                    <form method="post" action="{% url 'reply_comment' comment.pk %} "
                                          style="display: inline;">
                                        {% csrf_token %}
                                        <textarea name="comments" placeholder="Write a reply..." rows="1"
                                                  cols="50"></textarea>
                                        <button type="submit" class="text-blue-600">Reply</button>
                                    </form>
                                    {% if comment.owner.user == request.user %}
                                        <form action="{% url 'delete_comment' comment.id %}" method="post"
                                              style="display: inline;">
                                            {% csrf_token %}
                                            <button type="submit" class="text-red-600">Delete</button>
                                        </form>
                                    {% endif %}
                                    <a href="{% url 'like_comment' post_id=post.id comment_id=comment.id %}"
                                       class="CommentLike-link"
                                       data-post-id="{{ post.id }}"
                                       data-comment-id="{{ comment.id }}"
                                       style="display: inline;"
                                            {% csrf_token %}>
                                        <button type="submit"
                                                class="CommentLike-btn text-green-600 font-semibold mr-4 flex items-center">
                                            <svg class="w-6 h-6 mr-1" fill="none" stroke="currentColor"
                                                 viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                      d="M5 13l4 4L19 7"></path>
                                            </svg>
                                            <span>Like</span>
                                            <span class="text-sm pl-2 CommentLike-count">{{ comment.count_comment_like }}</span>
                                        </button>
                                    </a>


                                </div>
                            {% endif %}
                        {% for reply in comment.reply_comments.all|dictsort:"create_time" %}

                            <div
                                    class="ml-12 comment-body px-6 py-4">
                                <p class="text-black-800">
                                    <a href="{% url 'profile_detail' pk=reply.owner.user.profile.user_id %}">&commat;{{ reply.owner }} </a>
                                </p>
                            </div>

                            <div class="ml-12 comment-body px-6 py-4">
                                <p class="text-gray-800">
                                    {{ reply.comments | safe }}
                                </p>
                            </div>

                            <div class="ml-12 comment-body px-6 py-4">
                                <p class="text-gray-600">
                                    {{ reply.create_time | timesince }}
                                </p>
                            </div>
                            <div class="comment-body px-6 py-4">
                                <form method="post" action="{% url 'reply_comment' comment.pk %}"
                                      style="display: inline;">
                                    {% csrf_token %}
                                    <textarea name="comments" placeholder="Write a reply..." rows="1"
                                              cols="50"></textarea>
                                    <button type="submit" class="text-blue-600">Reply</button>
                                </form>
                                {% if reply.owner.user == request.user and reply.owner.user ==  reply.owner.user %}
                                    <form action="{% url 'delete_comment' reply.id %}" method="post"
                                          style="display: inline;">
                                        {% csrf_token %}
                                        <button type="submit" class="text-red-600">Delete</button>
                                    </form>
                                {% endif %}
                                <a href="{% url 'like_reply_comment' post_id=post.id comment_id=comment.id reply_comment_id=reply.id %}"
                                   class="LikeReply-link"
                                   data-post-id="{{ post.id }}"
                                   data-comment-id="{{ comment.id }}"
                                   data-reply-id="{{ reply.id }}"
                                   style="display: inline;">
                                    {% csrf_token %}
                                    <button type="button"
                                            class="LikeReply-btn text-green-600 font-semibold mr-4 flex items-center">
                                        <svg class="w-6 h-6 mr-1" fill="none" stroke="currentColor"
                                             viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                  d="M5 13l4 4L19 7"></path>
                                        </svg>
                                        <span>Like</span>
                                        <span class="text-sm pl-2 LikeReply-count">{{ reply.comment_like.count }}</span>
                                    </button>
                                </a>

                            </div>
                        {% endfor %}

                        {% empty %}
                        <p class="mt-4 ml-4 text-gray-800">No comment yet!</p>
                        </div>
                        {% endfor %}

                    </div>
                    <div class=" ml-4 mb-2 comment-item border-t border-gray-800">

                        <form method="post" action="{% url 'post_detail'  post.id %}">
                            {% csrf_token %}
                            <p class=" mt-4 mb-4">Create Comment{{ form.comments }}</p>
                            <a href="{% url 'post_detail' post.id %}">
                                <button class="text-black-800 font-semibold ml-56 mb-4 mt-4  mr-4 flex items-center">
                                    <span>Send Comment</span>
                                    <span class="text-sm pl-2"></span>
                                </button>
                            </a>

                        </form>
                    </div>

                </div>
            </div>
        </div>
        </div>

    {% endif %}
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            // Handle like button click
            $('.like-btn').click(function (e) {
                e.preventDefault();
                var postId = $(this).data('post-id');
                var likeCountElement = $(this).find('.like-count');

                // AJAX request to like/unlike the post
                $.ajax({
                    type: "GET",
                    url: "{% url 'like_user' post.id %}?post_id=" + postId,
                    success: function (data) {
                        // Update like count dynamically
                        likeCountElement.text(data.likes_count);
                        alert(data.message); // Display a message indicating like/unlike action
                    },
                    error: function (xhr, status, error) {
                        console.error(xhr.responseText);
                    }
                });
            });
        });
        $(document).ready(function () {
            // Handle like reply button click
            $('.LikeReply-link').click(function (e) {
                e.preventDefault();  // Prevent default link behavior

                var url = $(this).attr('href');  // Get the URL from the link's href attribute
                var likeCountElement = $(this).find('.LikeReply-count');  // Select the like count element within the link

                // AJAX request to like/unlike the reply comment
                $.ajax({
                    type: "GET",
                    url: url,
                    success: function (data) {
                        if ('message' in data) {
                            alert(data.message);  // Display a message indicating like/unlike action

                            // Update like count based on action
                            if (data.message.startsWith('You have liked')) {
                                likeCountElement.text(parseInt(likeCountElement.text()) + 1); // Increment like count by 1
                            } else if (data.message.startsWith('You have removed')) {
                                likeCountElement.text(parseInt(likeCountElement.text()) - 1); // Decrement like count by 1
                            }
                        }
                    },
                    error: function (xhr, status, error) {
                        console.error(xhr.responseText);
                    }
                });
            });
        });


        $(document).ready(function () {
            // Handle like comment link click
            $('.CommentLike-link').click(function (e) {
                e.preventDefault();  // Prevent default link behavior

                var url = $(this).attr('href');  // Get the URL from the anchor tag's href attribute
                var likeCountElement = $(this).find('.CommentLike-count');  // Select the like count element within the anchor

                // AJAX request to like/unlike the comment
                $.ajax({
                    type: "GET",
                    url: url,
                    dataType: 'json', // Expect JSON response
                    success: function (data) {
                        if ('message' in data) {
                            alert(data.message);  // Display a message indicating like/unlike action

                            // Update like count based on action
                            if (data.message.startsWith('You have liked')) {
                                likeCountElement.text(parseInt(likeCountElement.text()) + 1); // Increment like count by 1
                            } else if (data.message.startsWith('You have removed')) {
                                likeCountElement.text(parseInt(likeCountElement.text()) - 1); // Decrement like count by 1
                            }
                        }
                    },
                    error: function (xhr, status, error) {
                        console.error('AJAX request failed:', error);
                    }
                });
            });
        });

        $(document).ready(function () {
            $('.follow-btn').submit(function (e) {
                e.preventDefault();

                var form = $(this);
                var formData = form.serialize();

                $.ajax({
                    type: form.attr('method'),
                    url: form.attr('action'),
                    data: formData,
                    dataType: 'json',
                    success: function (data) {
                        if (data.success) {
                            var followButton = form.find('button');
                            if (data.is_following) {
                                followButton.text('Unfollow');
                                followButton.removeClass('text-blue-600').addClass('text-red-600');
                            } else {
                                followButton.text('Follow');
                                followButton.removeClass('text-red-600').addClass('text-blue-600');
                            }

                            alert(data.message);

                        } else {
                            console.error('Failed to follow/unfollow user');
                        }
                    },
                    error: function (xhr, status, error) {
                        console.error('AJAX request failed:', error);
                    }
                });
            });
        });


    </script>

    <script>


        const carousel = document.querySelector('.carousel');
        const prevButton = carousel.querySelector('.carousel-prev');
        const nextButton = carousel.querySelector('.carousel-next');
        const slides = carousel.querySelectorAll('.carousel-item');
        let currentSlide = 0;

        const showSlide = (index) => {
            slides.forEach((slide, i) => {
                if (i === index) {
                    slide.style.display = 'block';
                } else {
                    slide.style.display = 'none';
                }
            });
            currentSlide = index;
        };

        const showNextSlide = () => {
            currentSlide = (currentSlide + 1) % slides.length;
            showSlide(currentSlide);
        };

        const showPrevSlide = () => {
            currentSlide = (currentSlide - 1 + slides.length) % slides.length;
            showSlide(currentSlide);
        };

        // Show initial slide
        showSlide(currentSlide);

        // Add event listeners to navigation buttons
        prevButton.addEventListener('click', showPrevSlide);
        nextButton.addEventListener('click', showNextSlide);


        function redirectToChangePost(id) {
            window.location.href = `../../app/post/${id}/update/`;
        }

        function redirectToDeletePost(id) {
            window.location.href = `../../app/post/${id}/delete/`;
        }


    </script>
{% endblock %}
