{% extends "base/bases.html" %}
{% block title %}
    <title>Post</title>
{% endblock %}
{% block post %}
    {% if request.user.is_authenticated %}
        <div class="hidden lg:block">
            <form method="get" class="relative flex rounded-full ml-8 ">

                <a href="{% url "show_post" user.id %}"
                   class=" me-1 ms-1 ps-1 pt-2  pe-1 bg-gray-400 text-gray-800 rounded-full text-sm hover:bg-indigo-400 focus:bg-indigo-600 focus:outline-none">
                    <button
                    >
                        Search
                    </button>
                </a>
                <input
                        type="text"
                        name="search"
                        placeholder=" enter your search here"
                        class="text-sm p-2 rounded-full flex-1 mr-8 text-gray-100 focus:outline-none bg-gradient-to-r from-gray-700  to-gary-500 bg-clip-padding backdrop-filter backdrop-blur-sm bg-opacity-70 "
                />

            </form>
        </div>



            <div class="max-w-7xl mx-auto grid grid-cols-3 gap-4 ">
            {% for post in posts %}
            <!-- Single Post -->
            <div class=" grid bg-gray-300 shadow-lg rounded-lg  mb-8 mt-4">
                <!-- Header -->
                <div class="px-6 py-4  border-b border-gray-200">
                    <div class="flex items-center justify-between">
                        <div class="flex items-center">
                            <img class="w-12 h-12 object-cover rounded-full mr-4"
                                 src="{{ user.profile.profile_picture.url }}"
                                 alt="Profile Picture">
                            <div>
                                <h2 class="text-lg font-semibold text-gray-800"><a
                                        href="{% url 'profile_detail' pk=user.profile.user_id %}">{{ user.username }} </a>
                                </h2>
                                <p class="text-sm text-gray-600">{{ user.profile.bio | safe }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Content -->
                <div class="px-6 py-4">
                    <div class="flex justify-center">

 {% for image in post.images.all %}


                            <a href="{% url "post_detail" post.id %}"><img
                                    class="inline-block mx-auto w-84 h-84 object-cover rounded-lg post-thumbnail"
                                    src="{{  image.images.url }}" alt="Post Image {{ user_post.user.username }}"
                                    data-post-id="{{ post.id }}"></a>
                                {% endfor %}


</div>

                    <p class="text-gray-800 mt-4 mb-4 leading-relaxed"><b>{{ post.title | safe }}</b></p>
                    <p class="text-gray-800 mt-4 mb-4 leading-relaxed">{{ post.body | safe }}</p>

                </div>

           <div class="flex  items-center">
               <p class="text-sm pl-5 pb-4 mr-12 text-left text-gray-700">{{ post.create_time | date:"Y-N-l  |  P" }}</p>
                        <!-- Add your existing like, dislike, and comment buttons here -->

                        <!-- Update Button -->
                        <form action="" method="post" class="inline" enctype="multipart/form-data">
                            {% csrf_token %}
                            <a href="{% url 'update_post' post.id %}" onclick="redirectToChangePost({{ post.id }}) "
                               class="ml-8 text-blue-400 font-semibold pr-3 mt-4 flex text_center items-center hover:text-blue-800">
                                Update</a></form>
                        <!-- Delete Button -->
                        <form action="" method="post" class="inline">
                            {% csrf_token %}
                            <a href="{% url 'delete_post' post.id %}" onclick="redirectToDeletePost({{ post.id }}) "
                               class="text-red-400 font-semibold text_center mt-4 flex items-center hover:text-red-800">
                                Delete </a>
                        </form>
                    </div>

                </div>

        {% endfor %}
        </div>
    {% endif %}
    <script>
const slides = document.querySelectorAll('.slide');
let currentSlide = 0;

function showSlide(n) {
    slides.forEach((slide) => {
        slide.style.display = 'none';
    });
    slides[n].style.display = 'block';
}

function nextSlide() {
    currentSlide++;
    if (currentSlide >= slides.length) {
        currentSlide = 0;
    }
    showSlide(currentSlide);
}

function prevSlide() {
    currentSlide--;
    if (currentSlide < 0) {
        currentSlide = slides.length - 1;
    }
    showSlide(currentSlide);
}

showSlide(currentSlide);

    function redirectToChangePost(id) {
        window.location.href = `../../app/post/${id}/update/`;
    }

    function redirectToDeletePost(id) {
        window.location.href = `../../app/post/${id}/delete/`;
    }


</script>

{% endblock %}


