{% extends "base/bases.html" %}
{% block title %}
<title>
    change account password
</title>
{% endblock %}

{% block change_profile %}
    
<div class=" bg-gradient-to-r from-green-700 via-gary-100 to-gary-600">
    <div class="p-4 m-4 max-w-md mx-auto bg-white rounded-lg overflow-hidden shadow-md shadow-md rounded shadow-lg bg-opacity-20 shadow-lg backdrop-filter backdrop-blur-lg backdrop-contrast-100 border-black border-opacity-20 rounded-lg">
        <form class="space-y-4" action="#" method="post" enctype="multipart/form-data">
            {% csrf_token %}
                {{ form.as_p }}
                <div class="flex items-center justify-between">
                    <button
                            href="{% url 'create_profile' %}"
                            type="submit" class="bg-blue-500 hover:bg-blue-600 text-white font-semibold px-4 py-2 rounded focus:outline-none focus:shadow-outline">
                        send edite
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock  %}